.git
.gitignore

__pycache__
*.pyc
*.pyo

models/
datasets/
*.pkl
*.h5
*.pth
*.zip

logs/
alerts/

grafana/data/

.env
*.key

.idea
.vscode
*.swp
*~

htmlcov/
.tox/
.coverage
.pytest_cache/

Dockerfile*
docker-compose.yml
.docker/